:root {
    --primary: #c1242b;
    --primary-dark: #ab351d;
    --primary-70: #cc3f5f;
    --primary-50: #d55b8e;
    --primary-30: #df77b5;
    --primary-10: #e794d5;
    --logo: #ffffff;
    --sidebar-icon: #cccccc;
}

.bg-grad-sidebar {
    background-image: -webkit-gradient( linear, left bottom, left top, from(#c1242b), to(#3c4655));
    background-image: linear-gradient(0deg, #cc3f5f, #c1242b);
}